body {
    background-color: rgba(240, 161, 115, 0.486);
}
#title {
 text-align: center;
}

.LevelsH3 {
    display: flex;
    align-items: center;
    gap: 30px; /* Adjust spacing */
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
    padding-left: 4%;
}

#Levels div {
    margin-bottom: 10px;
    
}

.XP {
    color: rgb(120, 119, 119);
    font-size: smaller;
}

.feedtype1, .feedtype2, .feedtype3 ,.feedtype4 {
    text-align: center;
    padding-left: 2px;
}

.feedXP {
    padding-left: 50px;
    color: rgb(120, 119, 119);
    font-size: smaller;
}

.x {
    padding-left: 15px;
}
